.adminnavbar {
  width: 100%;
  height: 8vh;
  /* border: 1px solid red; */
  background-color: #131a22;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.adminnavbar > img {
  width: 50px;
}
