* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif";
}

body {
  background: #f0f0f0;
}

a {
  text-decoration: none;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aqua;
  margin-bottom: 10px;
}

.navbar {
  padding: 10px;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.8s;
}
.navbar a.active {
  color: #fff;
  background: teal;
  padding: 5px;
  border-radius: 4px;
}
.navbar a.inactive {
  font-style: italic;
}